.SearchBlock{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.Search_Input{
    width: 60%;
    margin: 2rem 0 1rem;
    display: flex;
}


.Search_Input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: url(../../images/backgroundphoto.jpeg);
    background-position: 50% 20%;
    border: 2px solid #030303;
    border-radius: 5px 0 0 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #87c1fc;
    padding: 0 1rem;
}

.Search_Input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    outline: none;
    padding: 0 1rem;
    background: url(../../images/backgroundphoto.jpeg);
    background-position: 50% 20%;
    border-radius: 5px 0 0 5px;
}